@import url('https://fonts.googleapis.com/css2?family=Vollkorn:wght@700;900&display=swap');

* {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

html {
  font-size: 8px;
  text-rendering: optimizeLegibility;
}

body {
  background: #fffaed;
}

a {
  text-decoration: none;
  background: none;
}

a:active {
  background: none;
  outline: none;
}

a::-moz-selection {
  background: transparent;
}

a::selection {
  background: transparent;
}

img, embed, object, video {
  max-width: 100%;
}

// ------------------------------- Headlines

h1 {
  overflow-y: hidden;
  font-family: 'Vollkorn';
  font-weight: 900;
  color: #462012;
}

h1.big {
  margin-top: 1.5vh;
  font-size: 3rem;
  justify-self: flex-start;
  align-self: flex-start;
}

h1.small {
  margin-top:-0.5vh;
  font-size: 2rem;
  justify-self: center;
  align-self: flex-start;
}

h1.menu_text {
  margin-left: 10%;

}

// ------------------------------- Paragrafs

p {
  overflow-y: hidden;
  color: #603120;
  text-align: left;
  font-family: 'Vollkorn';
  font-weight: 700;
}

p.big {
  margin-top: 0.5vh;
  font-size: 2rem;
  line-height: 1.25;
}

p.small {
  margin-top: 0.5vh;
  font-size: 1.5rem;
}

// ------------------------------- Margin

.margin_2 {
  margin-top: 2.5vh;
}

// ------------------------------- Spine

.flex {
  display: flex;
  margin-bottom: 2.5vh;
  flex-direction: column;
  align-items: center;
}

// ------------------------------- Menu bar

.bar {
  display: flex;
  width: 90%;
  height: 10vh;
  flex-direction: row;
  justify-self: center;
}

.logo {
  width: 50%;
  height: 5vh;
  background: #e0c08e url(../../img/logo.png) center center no-repeat;
  background-size: 50%;
  background-position: center 52.5%;
  border-radius: 3px;
  align-self: center;
  justify-self: flex-start;
}

.menu {
  width: 5vh;
  height: 5vh;
  background: #e0c08e url(../../img/menu.png) center center no-repeat;
  align-self: center;
  margin-left: 2.5vh;
  background-size: 50%;
  border-radius: 3px;
}

.menu:active {
  background: #dd9b9b url(../../img/menu.png) center center no-repeat;
  background-size: 50%;

}

.menu_open {
  margin-top: 10vh;
  position: absolute;
  flex-direction: column;
  width: 90%;
  height: 20vh;
  background: #e0c08e;
  display: none;
  justify-content: center;
  box-shadow: 0 1vh 0 0 #cc9e72;
}

// ------------------------------- Feed

.feed {
  width: 90%;
  display: flex;
  justify-self: center;
  flex-direction: column;
}

// ------------------------------- Picture

.picture {
  border-radius: 3px;
}

.picture_big {
  width: 100%;
  height: 30vh;
  -o-object-fit: cover;
     object-fit: cover;
}

// ------------------------------- Read

.read {
  background: #e0c08e;
  display: flex;
  border: 0;
  outline: 0;
  justify-content: center;
  border-radius: 3px;
}

.read_big {
  padding-left: 4%;
  padding-right: 4%;
  font-size: 1.5rem;
  height: 4vh;
  justify-self: flex-end;
  align-self: flex-end;
  margin-top: 1vh;
}

.read_small {
  font-size: 1.5rem;
  width: 100%;
  height: 3vh;
  margin-top: 2.5vh;
}

.read_text {
  font-family: 'Vollkorn';
  color: #462012;
  justify-self: center;
  align-self: center;
}

.read:active {
  background: #dd9b9b;
}

// ------------------------------- Condensed article

.condensed_article {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4vh;
}

.condensed_article--element {
  display: grid;
  flex-direction: row;
}

.condensed_article--picture {
  grid-area: 1 / 1 / 1 / 1;
  -o-object-fit: cover;
     object-fit: cover;
}

.condensed_article--text {
  grid-area: 1 / 2 / 1 / 4;
  margin-left: 2vh;
  display: flex;
  flex-direction: column;
}
