@import url('https://fonts.googleapis.com/css2?family=Vollkorn:wght@400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

html {
  font-size: 8px;
  text-rendering: optimizeLegibility;
}

body {
  background: #fffaed;
}

a {
  text-decoration: none;
  background: none;
  color: #e0c08e;
}

a:active {
  background: none;
  outline: none;
}

img, embed, object, video {
  max-width: 100%;
}

// ------------------------------- Spine

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// ------------------------------- Menu bar

.bar {
  display: flex;
  width: 75%;
  height: 10vh;
  flex-direction: row;
  justify-self: center;
}

.logo {
  width: 150px;
  height: 5vh;
  background: #e0c08e url(../img/logo.png) center center no-repeat;
  background-size: 65%;
  align-self: center;
  justify-self: flex-start;
  border-radius: 5px;
}

// ------------------------------- Feed

.feed {
  width: 75%;
  display: flex;
  justify-self: center;
  flex-direction: column;
}

// ------------------------------- Footer
.footer {
  margin-top: 2.5vh;
  height: 7.5vh;
  width: 100%;
  background: #e0c08e;
  display: flex;
  align-items: center;
}

.footer.big {
  font-family: 'Vollkorn';
  margin:0;
  margin-left: 12.5%;
  font-size: 1.5rem;
}
